<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<hr class="w-25 border-danger">

<h2 class="justify-content-center text-center">WELCOME</h2>
<hr class="w-25 border-danger">
<div class="container bor">
    <ul class="nav nav-tabs active  align-self-auto" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link align-items-center text-dark" id="profile-tab" data-toggle="tab" href="#profile"
               role="tab" aria-controls="profile"
               aria-selected="true">Add Owner </a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/add-owner}" th:object="${ownerForm}" method="POST">
                                <div class="form-group">
                                    <label for="ownerNameForm">Owner Name</label>
                                    <input type="text" th:field="*{name}" class="form-control" id="ownerNameForm"
                                           name="ownerName"
                                           placeholder="Enter Owner Name">
                                </div>
                                <div class="form-group">
                                    <label for="ownerSurname">Owner Surname</label>
                                    <input type="text" th:field="*{surname}" class="form-control" id="ownerSurname"
                                           name="ownerSurname"
                                           placeholder="Enter Owner Surname">
                                </div>
                                <div class="form-group">
                                    <label for="ownerEmail">Owner Email</label>
                                    <input type="text" th:field="*{email}" class="form-control" id="ownerEmail"
                                           name="ownerEmail"
                                           placeholder="Enter Owner Email">
                                </div>
                                <div class="form-group">
                                    <label for="ownerPhone">Owner Phone</label>
                                    <input type="text" th:field="*{phoneNumber}" class="form-control" id="ownerPhone"
                                           name="ownerPhone"
                                           placeholder="Enter Owner Phone">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <!--                                add back button-->
                                <a th:href="@{/add-animal}">
                                    <button type="button" class="btn btn-danger">Back</button>
                                </a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>