<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <hr class="border-primary">

    <h2 class=" text-center border border-primary">WELCOME
        <div onsecuritypolicyviolation="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <span onsecuritypolicyviolation=:authentication="name"></span>
            <a class="justify-content-center" onclick="document.forms['logoutForm'].submit()">
                <button type="button" class="btn btn-outline-danger">Logout</button>
            </a>
        </div>
    </h2>
    <hr class="border-primary">
    <ul class="nav nav-tabs align-items-center" id="myTab" role="tablist">
        <li class="nav-item active " role="presentation">

            <a class="nav-item  btn btn-outline-primary" id="home-tab" data-toggle="tab"
               href="#home" role="tab"
               aria-controls="home"
               aria-selected="true">
                <div th:if="${animalForm.id==null}"> Add Animal</div>
                <div th:if="${animalForm.id!=null}"> Edit Animal</div>
            </a>
        </li>
        <li class="nav-item m-xl-2" role="presentation">
            <a th:href="@{/list-all-animals}" class="nav-item btn btn-outline-primary"
            >List Animals</a>
        </li>

        <li class="nav-item m-xl-2" role="presentation">
            <a th:href="@{/add-owner}" class="nav-item btn btn-outline-primary"
            >Add Owner</a>
        </li>

        <li class="nav-item" role="presentation">
            <a th:href="@{/get-all-owners}" class="nav-item btn btn-outline-primary"
            >List Owner</a>
        </li>


    </ul>

    <div class="tab-content " id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-md-12">
                    <div class="card border border-primary rounded-lg">
                        <div class="card-body">
                            <form th:action="@{/add-animal}" th:object="${animalForm}" method="POST">
                                <input type="hidden" th:field="*{id}" th:value="${animalForm.id}">
                                <div class="form-group">
                                    <label for="animalName">Animal Name</label>
                                    <input type="text" th:field="*{name}" class="form-control" id="animalName"
                                           name="animalName"
                                           placeholder="Enter Animal Name">
                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}"
                                       th:errors="*{name}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="ownerName">Owner Name</label>
                                    <select th:field="*{animalOwner}" class="form-control" id="ownerName"
                                            name="ownerName">
                                        <th:block th:each="owner: ${animalOwnerList}">
                                            <option th:text="${owner.name}" th:value="${owner.id}"/>
                                        </th:block>
                                    </select>
                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('animalOwner')}"
                                       th:errors="*{animalOwner}"></p>
                                </div>

                                <div class="form-group">
                                    <label for="animalType">Animal Type</label>
                                    <input type="text" th:field="*{type}" class="form-control" id="animalType"
                                           name="animalType"
                                           placeholder="Enter Animal Type">
                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('type')}"
                                       th:errors="*{type}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="animalAge">Animal Age</label>
                                    <input type="text" th:field="*{age}" class="form-control" id="animalAge"
                                           name="animalAge"
                                           placeholder="Enter Animal Age">
                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('age')}"
                                       th:errors="*{age}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="animalAge">Animal Genus</label>
                                    <input type="text" th:field="*{genus}" class="form-control" id="animalGenus"
                                           name="animalGenus"
                                           placeholder="Enter Animal Genus">
                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('genus')}"
                                       th:errors="*{genus}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="animalAge">Animal Description</label>

                                    <input type="text" th:field="*{description}" class="form-control"
                                           id="animalDesc"
                                           name="animalDesc"
                                           placeholder="Enter Animal Desc">
                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}"
                                       th:errors="*{description}"></p>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>