<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<hr class="w-25 border-danger">

<h2 class="justify-content-center text-center">WELCOME</h2>
<hr class="w-25 border-danger">
<div class="container bor">
    <ul class="nav nav-tabs active  align-self-auto" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link align-items-center text-dark" id="profile-tab" data-toggle="tab" href="#profile"
               role="tab" aria-controls="profile"
               aria-selected="true">List Animals </a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/search}" class=" form-inline justify-content-end mb-3">
                                <input th:value="${keyword}"
                                       class="form-control mr-sm-2 border-success" type="text" name="keyword"
                                       id="keyword"
                                       placeholder="Search Animal Or Owner"
                                       aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

                            </form>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Owner</th>
                                <th>Type</th>
                                <th>Age</th>
                                <th>Genus</th>
                                <th>Description</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>

                                <tr th:each="animal: ${listAnimal2s}">
                                    <td>[[${animal.id}]]</td>
                                    <td>[[${animal.name}]]</td>
                                    <td>[[${animal.animalOwner.name}]]</td>
                                    <td>[[${animal.type}]]</td>
                                    <td>[[${animal.age}]]</td>
                                    <td>[[${animal.genus}]]</td>
                                    <td>[[${animal.description}]]</td>
                                    <td>
                                        <a th:href="@{'/animal/edit/' + ${animal.id}}">
                                            <button type="button" class="btn btn-success">
                                                Edit
                                            </button>

                                        </a>
                                        &nbsp;|
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#deleteModal">
                                            Delete Animal
                                        </button>

                                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Are You Sure For
                                                            Delete ?</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a th:href="@{'/animal/delete/' + ${animal.id}}">
                                                            <button
                                                                    type="button" class="btn btn-danger">Delete
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        &nbsp;|

                                        <a th:href="@{'/animal-detail/' + ${animal.id}}" data-target="#show">
                                            <button type="button" class="btn btn-primary">Show Owner Detail</button>
                                        </a>

                                    </td>

                                </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    back button-->
    <a th:href="@{'/'}">
        <button type="button" class="btn btn-danger">Back</button>
    </a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
<head>
    <meta charset="UTF-8">
    <title>LIST OF ANIMALS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
</html>